In [43]:
import pandas as pd
from sklearn import tree


train_file = '../data/train.csv'
test_file = '../data/test.csv'

1：数据导入，这里主要读取数据放入内存；需要注意的是使用pandas读取数据后，数据在内存中的存在形态DataFrame

In [42]:
train_data = pd.read_csv(train_file)
test_data = pd.read_csv(test_file)

2,  数据EDA，观察数据

In [40]:
train_data.info()
train_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

3: 数据预处理(etl)
通过上面的EDA处理，观察到数据中Cabin缺失严重，Age的数据有部分缺失。
处理缺失值的简单方法就是丢掉当前行数据，列缺失严重的，把整列丢弃。
需要注意的是，丢弃列会造成数据特征值的变化，本例中训练数据年龄缺失少量，但是测试集中丢失严重。

In [28]:


test = pd.read_csv(test_file)
ids = test[['PassengerId']]
test.drop(['PassengerId','Name', 'Ticket', 'Cabin'], 1, inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    712 non-null int64
Survived       712 non-null int64
Pclass         712 non-null int64
Name           712 non-null object
Sex            712 non-null object
Age            712 non-null float64
SibSp          712 non-null int64
Parch          712 non-null int64
Ticket         712 non-null object
Fare           712 non-null float64
Embarked       712 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 66.8+ KB

In [29]:
train_data = train_data.drop(['Cabin'], 1 , inplace=False)
train_data = train_data.dropna()
train_data.info()

y = train_data['Survived']
x = train_data.drop(['Survived', 'PassengerId', "Name", 'Ticket'，'Cabin' ], 1, inplace=False)
x = pd.get_dummies(x)

4 构建模型 
5 训练模型
需要注意的是决策树模型 ，需要将数据离散化

In [30]:
dtc = tree.DecisionTreeClassifier()
dtc.fit(x, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

6. 推断

In [36]:
test = pd.read_csv(test_file)
ids = test[['PassengerId']]
test.drop(['PassengerId','Name', 'Ticket', 'Cabin'], 1, inplace=True)
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
Pclass      418 non-null int64
Sex         418 non-null object
Age         332 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Fare        417 non-null float64
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 22.9+ KB